---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("https://mattdutson.net/assets/Roboto.ttf");
}

blockquote {
    letter-spacing: unset;
    font-size: unset;
    font-style: unset;
}

body {
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 450;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 12px;
}

h1, .post-title {
    font-size: 32px;
}

h2, .post-content h2, .post-list-heading {
    font-size: 26px;
}

h3, .post-content h3, .post-link {
    font-size: 20px;
}

// Credit to https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ for the sub/sup stuff
sub, sup {
    vertical-align: baseline;
    position: relative;
}

sub {
    top: 0.4em;
}

sup {
    top: -0.4em;
}

table th, table td {
    padding: 5px;
}

table tr:nth-child(even) {
    background-color: inherit;
}

.footnotes li p {
    margin-bottom: 0px;
}

.invisible-table {
    // Since table items have 5px of padding, this gives 12px of total space
    margin-bottom: 7px;
    border: none;
    width: auto;
}

.invisible-table td {
    padding-left: 0px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 5px;
    border: none;
}

.pagination {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #d0d0d0;
}

.post-link {
    margin-bottom: -10px;
}

.post-title {
    letter-spacing: unset;
}

.site-header {
    border-top: 0px;
    border-bottom: 2px solid #d0d0d0;
    min-height: unset;
}

.site-title {
    color: unset;
    letter-spacing: unset;
}

.site-title:visited {
    color: unset;
}

.youtube-container {
    position: relative;
    padding-top: 56.25%;
}

.youtube-player {
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    position: absolute;
}

#contact {
    min-width: max-content;
    overflow: hidden;
}

#headshot {
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
}

#summary {
    clear: left;
}
